//- pages/home/index.js
extend ../../layout/layout1.pug

block main_1
    h2= "Outstanding Products"
    div(class='grid grid-cols-4 gap-4') 
        -for(var i = 0; i<dataOutstanding.length; i++){
            div(class='border-8 border-lime-400 mr-2 ml-2')
                a(href="/product/detail/"+dataOutstanding[i].id) 
                    img(src=dataOutstanding[i].thumbnail, alt="")
                h3(class='font-normal hover:font-bold')= dataOutstanding[i].title
                p= dataOutstanding[i].price
                -var newPrice = dataOutstanding[i].price - dataOutstanding[i].price * dataOutstanding[i].discountPercentage/100
                p= newPrice
        -}
    br
    br
    h2= "New product"
    div(class='grid grid-cols-4 gap-4') 
        -for(var i = 0; i<datanew.length; i++){
            div(class='border-8 border-lime-400 mr-2 ml-2')
                a(href="/product/detail/"+datanew[i].id)
                    img(src=datanew[i].thumbnail, alt="")
                h3(class='font-normal hover:font-bold')= datanew[i].title
                p= datanew[i].price
                -var newPrice = datanew[i].price - datanew[i].price * datanew[i].discountPercentage/100
                p= newPrice
        -}
    script(src="/socket.io/socket.io.js")
    script.
        var getCookies = function(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        };
        const socket = io();
        socket.on("connect", function() {
            console.log("Connected to server from home page");
            var token_client = getCookies("token_client");
            console.log("Token client:", token_client);
            if (token_client !== undefined) {
                socket.emit("joinWeb",{ token: { token_client: token_client } });
            } else {
                console.log("No token found, not joining room");
            }
        });
